// Define Pods root directory
PODS_ROOT = ${SRCROOT}/Pods

// Include CocoaPods configuration
#include? "Pods/Target Support Files/Pods-ManyllaMobile/Pods-ManyllaMobile.beta.xcconfig"

// Beta Environment Configuration
BUILD_TYPE = beta
PRODUCT_BUNDLE_IDENTIFIER = com.manylla
PRODUCT_NAME = Manylla BETA
API_ENDPOINT = https://manylla.com/api

// Code Signing
DEVELOPMENT_TEAM = 84W9WSYQQB
CODE_SIGN_STYLE = Automatic

// Marketing Version
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1
